<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
<style>
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

</style>
</head>
<body>
<h1>Digit to Word Converter</h1>
 <form action="/digitToWordResult" method="get">
    <div class="box">
    <label><b>Enter Digit in the below text box</b></label>
    <input type="text" placeholder="Enter Digit" name="number" required>
    <button type="submit">Convert</button> 
  </div>  
</form>
</body>
</html>
