<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
     <link rel="stylesheet" href="/css/styles.css" />
     <link rel="stylesheet" href="/css/button.css" />
</head>
<body>
    <h1>Utility Management Dashboard</h1>
    <h3>Welcome to Utility management dashboard. Here you can perform some basic operations.</h3>
    <div class="box">
    <table align="center">
        <tr>
            <td>
                <form action="/digitToWordHome" method="get">
                    <button class="button-78" role="button" type="submit">Digit to Word Converter</button>
                </form>
            </td>
            <td>
                <form action="/bmiHome" method="get">
                   <button class="button-78" role="button" type="submit">BMI Calculator</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/bmrHome" method="get">
                    <button class="button-78" role="button" type="submit">BMR Calculator</button>
                </form>
            </td>
            <td>
                <form action="/button2" method="get">
                    <button class="button-78" role="button" type="submit">Distance Calculator</button>
                </form>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>